<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>htz blog</title>

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style type="text/css">
        body {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .navbar {
          margin-bottom: 20px;
        }
      </style>
    </head>
    <body>

      <div class="container">
       <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">首页</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">生理健康<span class="sr-only">(current)</span></a></li>
              <li><a href="#">心理自在</a></li>
              <li><a href="#">事理圆满</a></li>
              <li><a href="#">国学园地</a></li>
              <li><a href="#">修行原理</a></li>
              <li><a href="#">讲师影片</a></li>
              <li><a href="#">书院活动</a></li>
              <li><a href="#">学员心得</a></li>
              <li><a href="#">其他</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="/static/img/1.jpg"   alt="...">
                <div class="caption">
                  <h3>殺生的因果關係</h3>
                  <p>學生問： 走路時會踩死螞蟻、喝水時也會殺害很多微生物，防疫時也殺死很多細菌，這也算是殺生嗎？也落因果嗎？ 張講師答： 若為了維護廣大百姓的生存，而不得已殺生，這作為   ......  閱讀更多</p>

                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <img src="/static/img/2.jpg"   alt="...">
                <div class="caption">
                  <h3>尊賢是當今最重要的氣節</h3>
                  <p>學生問： 請問講師，作為現在的年輕人應該立起什麼樣可行的氣節與德行？ 張講師答： 作為一個有為的現代年輕人，最應該立起可行的氣節就是「敬長」，    ......  閱讀更多</p>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-md-offset-1">
         <div class="row">
          <div class="col-md-12">
            <a href="#" class="thumbnail">
              <img src="/static/img/3.jpg" alt="...">
            </a>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <a href="#" class="thumbnail">
              <img src="/static/img/4.jpg" alt="...">
            </a>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="thumbnail">
              <img src="/static/img/5.jpg" alt="...">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="thumbnail">
              <img src="/static/img/6.jpg" alt="...">
            </a>
          </div>
        </div>

      </div>
    </div>



  </div>

  <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

  <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
