<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
  <title>htz blog</title>

  <!-- 新 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- 可选的Bootstrap主题文件（一般不用引入） -->
  <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->

      <style type="text/css">
        body {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .navbar {
          margin-bottom: 20px;
        }

        a:link {
          color: #333;
        }


      </style>
    </head>
    <body>

      <div class="container">
       <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">首页</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">生理健康<span class="sr-only">(current)</span></a></li>
              <li><a href="#">心理自在</a></li>
              <li><a href="#">事理圆满</a></li>
              <li><a href="#">国学园地</a></li>
              <li><a href="#">修行原理</a></li>
              <li><a href="#">讲师影片</a></li>
              <li><a href="#">书院活动</a></li>
              <li><a href="#">学员心得</a></li>
              <li><a href="#">其他</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="row">

        <div class="col-md-9">
         <div class="panel panel-default">
          <div class="panel-body">
            <h2>講師文章</h2>
            <hr/>

            <div class="row">
              <div class="col-md-4">
                <a href="#">
                  <img class="img-responsive  img-rounded" src="/static/img/1.jpg" alt="...">
                </a>
              </div>

              <div class="col-md-8">
                <a href="#"><h4>殺生的因果關係</h4></a>
                <p>
                  學生問： 走路時會踩死螞蟻、喝水時也會殺害多微生物，防疫時也殺死很多細菌，這也算是殺生嗎？也落因果嗎？ 張講師答： 若為了維護廣大百姓的生存，而不得已殺生，這作為   ...... 閱讀更多
                </p>
                <br>
                <p>分類 <a href="#" style="color:#333">其他</a></p>
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-md-4">
                <a href="#">
                  <img class="img-responsive img-rounded" src="/static/img/11.jpg" alt="...">
                </a>
              </div>
              <div class="col-md-8">
               <a href="#"><h4>任督二脈中的氣脈是怎麼斷的？</h4></a>
               <p>
                 身體氣脈的通暢，決定內在修為能否順利推進。開過刀的人氣脈就被切斷了嗎？氣脈是通暢還是阻斷，究竟與什麼有關呢？   學生問： 請教講師，女性剖腹產之後，氣脈斷了   ...... 閱讀更多
               </p>
               <br>
               分類 <a href="#" style="color:#333">事理圓滿</a>
             </div>
           </div>
           <hr>  

           <div class="row">
            <div class="col-md-4">
              <a href="#">
                <img class="img-responsive img-rounded" src="/static/img/12.jpg" alt="...">
              </a>
            </div>
            <div class="col-md-8">
             <a href="#" ><h4>內觀自心是超越煩惱唯一的真覺之法</h4></a>
             <p>
               當人們有煩惱發生的時候，都剛好是內心的情緒有波動的時候，於是人們便直覺的聯想到，如果能消滅那個情緒波動，不就可以永遠沒有煩惱了嗎？   這乍聽之下好像是對的，但試問，如果有一個人生    ...... 閱讀更多
             </p>
             <br>
             <p>分類 <a href="#" style="color:#333">修行原理</a></p>
           </div>
         </div>
         <hr>  

         <div class="row">
           <div class="col-md-4">
            <a href="#">
              <img class="img-responsive img-rounded" src="/static/img/13.jpg" alt="...">
            </a>
          </div>
          <div class="col-md-8">
            <a href="#"><h4>福慧雙修與性命雙修的關係</h4></a>
            <p>
              學生問： 請問福慧雙修和性心命一起修持，它們之間是什麼關係呢？ 張講師答： 福慧雙修的「福」指的是種好的因，得好的果，修福可以改變不好的因果的業力。而「慧」指的是智慧，就是對    ......  閱讀更多
            </p>
            <br>
            <p>分類 <a href="#"  style="color:#333">心理自在</a></p>
          </div>
        </div>
        <hr>

        <nav style="margin-top: -20px;margin-bottom: -20px;" class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>


      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-md-12">
            <a href="#" class="img-rounded img-responsive">
              <img src="/static/img/3.jpg" alt="..." class="img-responsive">
            </a>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12">
            <a href="#" class="img-rounded img-responsive">
              <img src="/static/img/4.jpg" alt="..." class="img-responsive">
            </a>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12">
            <a href="#" class="img-rounded">
              <img src="/static/img/5.jpg" alt="..." class="img-responsive">
            </a>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-12">
            <a href="#" class="img-rounded">
              <img src="/static/img/6.jpg" alt="..." class="img-responsive">
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>

<br>
<br>
<div class="row">
  <div class="col-md-12">
   <h2>生理健康</h2>
   <hr/>

   <div class="row">
    <div class="col-md-4">
      <img src="/static/img/8.jpg"   alt="..."  class="img-rounded img-responsive">
      <h4>殺生的因果關係</h4>
      <br>
      <p>學生問： 走路時會踩死螞蟻、喝水時也會殺害很多微生物，防疫時也殺死很多細菌，......  閱讀更多</p>
    </div>

    <div class="col-md-4">
      <img src="/static/img/9.jpg"   alt="..." class="img-rounded img-responsive">
      <h4>尊賢是當今最重要的氣節</h4>
      <br>
      <p>學生問： 請問講師，作為現在的年輕人應該立起什麼樣可行的氣節與德行？ 張講師......  閱讀更多</p>
    </div>

    <div class="col-md-4">
      <img src="/static/img/10.jpg"   alt="..." class="img-rounded img-responsive">
      <h4>禪宗公案－酒肉穿腸過，佛祖心中坐</h4>
      <br>
      <p>這一期，就讓我們一起來聽聽個個信口拈來的“酒肉穿腸過，佛祖心中坐”有關的典故.....  閱讀更多</p>
    </div>
  </div>
  <br>
  <button class="btn  btn-success btn-default" type="submit">更多文章......</button>

  <br>

</div>
</div>

<br>
<br>
<div class="row">
  <div class="col-md-12">
   <h2>生理健康</h2>
   <hr/>

   <div class="row">
    <div class="col-md-4">
      <img src="/static/img/1.jpg"   alt="..."  class="img-rounded img-responsive">
      <h4>殺生的因果關係</h4>
      <br>
      <p>學生問： 走路時會踩死螞蟻、喝水時也會殺害很多微生物，防疫時也殺死很多細菌，......  閱讀更多</p>
    </div>

    <div class="col-md-4">
      <img src="/static/img/2.jpg"   alt="..." class="img-rounded img-responsive">
      <h4>尊賢是當今最重要的氣節</h4>
      <br>
      <p>學生問： 請問講師，作為現在的年輕人應該立起什麼樣可行的氣節與德行？ 張講師......  閱讀更多</p>
    </div>

    <div class="col-md-4">
      <img src="/static/img/7.jpg"   alt="..." class="img-rounded img-responsive">
      <h4>禪宗公案－酒肉穿腸過，佛祖心中坐</h4>
      <br>
      <p>這一期，就讓我們一起來聽聽個個信口拈來的“酒肉穿腸過，佛祖心中坐”有關的典故.....  閱讀更多</p>
    </div>

  </div>
  <br>
  <button class="btn  btn-success btn-default" type="submit">更多文章......</button>

  <br>

</div>
</div>

</div>

<br>
<br>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
